{% extends 'templates/dashboard/base_template.html' %}
{% block page_title %}Classes{% endblock %}
{% block active-sidebar-item-id %}classes{%endblock%}

{% block breadcrumb %}
<section class="breadcrumb">
    <a href="{% url 'dashboard:index' %}" class="">Home <i class="bi bi-chevron-right"></i></a>
    <a href="" class="active">Classes</a>
</section>
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="classModal" tabindex="-1" aria-labelledby="classModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="classModalLabel">Add Class</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% include 'dashboard/classes/form_class.html' %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->

<h4 class="page-header"><i class='icon bx bx-group'></i> CLASSES</h4>
<section class="card">
    <div class="card-header d-flex justify-content-between">
        <h4>Classes</h4>
        <div class="">
            {% if perms.setup.add_class %}
            <button class="d-flex btn btn-sm btn-primary my-1" data-bs-toggle="modal" data-bs-target="#classModal"><i
                    class="bi bi-plus"></i> Add
            </button>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="" style="overflow-x: auto;">
            <table class="table data-table">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>S/N</th>
                        <th>Class ID</th>
                        <th>Name</th>
                        <th>Class Teacher</th>
                        <th>Stream</th>
                        <th>Stage</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{class.class_id}}</td>
                        <td>
                            <a href="{% url 'dashboard:students' %}?class_id={{class.id}}">{{class.name}}</a>
                        </td>
                        <td>{{class.class_teacher.user.get_name}}</td>
                        <td>{{class.stream}}</td>
                        <td>{{class.stage}}</td>
                        <td class="d-flex">
                            {% if perms.setup.change_class %}
                            <a href="{% url 'dashboard:create_update_class' %}?id={{class.id}}"
                                class="me-3 d-flex btn btn-sm btn-light">
                                <i class="bi bi-pencil me-1"></i>
                                Edit
                            </a>
                            {% endif %}
                            {% if perms.setup.delete_class %}
                            <form action="{% url 'dashboard:delete_model' class.model_name class.id %}" method="POST"
                                class="requires-confirmation"
                                data-message="Click on okay to permanently delete '{{class.name}};.">
                                {% csrf_token %}
                                <input type="hidden" name="class_id" value="{{class.id}}">
                                <button type="submit" class="btn btn-sm btn-light"><span class="d-flex">
                                        <i class="bi bi-trash"></i> Delete</span>
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}