:root {
  --pmc: #042954;
  --pmcv: #051f3e;
  --sdc: #ffa601;
  --sdcv: #fb8f01;
  --bgc: white;
  --body-bgc: #f0f1f3;
  --font-color: #121212;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --pmc: #9a97f3;
  --sdc: #818cab;
  --font-color: #e1e1ff;
  --bgc: #161625;
  --body-bgc: #161625;
  --heading-color: #818cab;
}

body,
#sidebar {
  background-color: var(--body-bgc);
  color: var(--font-color);
}

#page-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 250px auto;
      grid-template: auto / 250px auto;
}

#sidebar {
  position: relative;
  background-color: var(--pmcv);
  color: lightgray;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
}

#sidebar a {
  text-decoration: none;
  color: inherit;
}

#sidebar a:hover {
  color: inherit;
  text-decoration: none;
}

#sidebar #header {
  background-color: var(--sdc);
  height: 70px;
  color: white;
  padding: 5px;
  position: relative;
}

#sidebar.fold {
  width: 0px;
  opacity: 0;
  overflow: hidden;
}

#toggler {
  position: absolute;
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

#toggler :first-child {
  margin-top: 0px;
}

#toggler [class*="line"] {
  background-color: var(--sdcv);
  height: 2px;
  margin-top: 7px;
  width: 30px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  position: relative;
}

#toggler .line2 {
  width: 20px;
}

#toggler.open .line2 {
  display: none;
}

#toggler.open .line1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#toggler.open .line3 {
  top: -8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.side-bar-item {
  background-color: var(--pmc);
  margin-bottom: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.side-bar-item .item {
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-bar-item .item .icon {
  width: 40px;
  color: var(--sdcv);
}

.side-bar-item .item .title {
  margin: 0px 5px;
}

.side-bar-item .item .drop-icon {
  position: absolute;
  right: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 7px;
}

.side-bar-item .drop-down {
  height: 0px;
  overflow-y: hidden;
  background-color: var(--pmcv);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-left: 30px;
}

.side-bar-item .drop-down .drop-item {
  padding: 12px;
}

.side-bar-item .drop-down .drop-item:hover {
  background-color: var(--pmc);
  cursor: pointer;
}

.side-bar-item.active .title {
  color: white;
}

.side-bar-item.active .drop-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.side-bar-item.active .drop-down {
  height: 200px;
  padding: 5px 5px 10px 30px;
}

#main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav {
  background-color: var(--bgc);
  padding: 10px;
  height: 70px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  color: inherit;
  text-decoration: none;
}

nav .nav-right {
  position: absolute;
  right: 50px;
}

nav .img-profile {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-items .nav-item {
  margin-right: 10px;
  position: relative;
}

nav .nav-items .nav-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

nav .nav-items .nav-item .drop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .nav-items .nav-item .drop-item:hover {
  background-color: var(--body-bgc);
}

nav .nav-items .nav-item .drop-down:before {
  content: "";
  position: absolute;
  right: 10px;
  border: 8px solid var(--sdcv);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  top: -15px;
}

nav .nav-items .nav-item .drop-down {
  background-color: var(--bgc);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  position: absolute;
  right: 0;
  top: 60px;
  opacity: 0;
  -webkit-transform: translateY(140vh);
          transform: translateY(140vh);
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 10px;
}

nav .nav-items .nav-item .drop-down .header {
  padding: 20px;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav .nav-items .nav-item .drop-down .body {
  padding: 0px;
}

nav .nav-items .nav-item.active .drop-down {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

nav .nav-items .notification-badge {
  background-color: red;
  color: white;
  margin: 0px;
  padding: 5px;
  border-radius: 100%;
  border: 1px solid white;
  position: absolute;
  top: -5px;
  left: 15px;
  -webkit-box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
}

#content {
  padding: 30px;
}

#content a {
  text-decoration: none;
  color: inherit;
}

#content a:hover {
  color: var(--sdc);
}

#content .link-nav a:last-child {
  color: var(--sdc);
}

.row {
  margin: inherit;
}

.stat-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.stat-container > div {
  border-radius: 4px;
}

.stat-container > div p {
  font-size: 1.1em;
}

.stat-icon {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  text-align: center;
  font-size: 3em;
}

.bg-success-light {
  background-color: rgba(0, 184, 31, 0.1);
}

.bg-primary-light {
  background-color: rgba(0, 31, 184, 0.1);
}

.bg-warning-light {
  background-color: rgba(197, 120, 20, 0.1);
}

.bg-danger-light {
  background-color: rgba(184, 31, 0, 0.1);
}

.notification-item {
  height: 25rem;
  overflow-y: auto;
}

.notification-item header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}
/*# sourceMappingURL=dashboard.css.map */