<form action="{% url 'dashboard:create_update_house' %}" class="needs-validation my-4" method="POST" novalidate>
    {% csrf_token %}
    <input type="hidden" name="house_id" value="{{house.id}}">
    <div class="form-group">
        <label for="name">Code</label>
        <input class="form-control" placeholder="E.g., HOUSE1" value="{{code}}" type="text" name="code" id="code"
            required>
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" placeholder="What's the name of the house?" value="{{name}}" type="text" name="name"
            id="name" required>
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>
    <div class="mt-4 form-group">
        <label for="house_master">House Master</label>
        <select class="form-select" name="house_master" id="house_master" required>
            <option value="">--- Click to select --- </option>
            {% for teacher in staff %}
            <option value="{{teacher.id}}" {% if teacher.id == house.house_master.id %}selected{% endif %}>
                {{teacher.user.get_name}}
            </option>
            {% endfor %}
        </select>
        <a href="{% url 'dashboard:staff' %}" target="_blank" class="mt-2 text-end d-block text-primary"><i
                class="bi bi-plus"></i> Go to Staff</a>
    </div>
    <div class="mt-4 form-group">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>

</form>