{% extends 'school/dashboard_base.html' %}

{% block title %}Forward Credential{% endblock %}
{% block active_sidebar %}sms{% endblock %}


{% block content %}
<h4>Forward Credentials</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>>Forward Credential</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <div class="d-flex justify-content-between">
        <h5 class="ml-4">Forward Credential</h5>
        <p class="text text-right">
            <a href="{% url 'students:new_grading_system' %}" class="btn btn-primary text text-white">New</a>
        </p>
    </div>

    {% if request.error_message %}
    <div class="col-md-7 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> {{request.error_message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if request.message %}
    <div class="col-md-7 mx-auto alert alert-info alert-dismissible fade show" role="alert">
        <strong>Info!</strong> {{request.message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <form action="" method="POST">
        {% if error_message %}
        <div class="col-md-7 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{error_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% csrf_token %}
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="catergory">Staff/Student</label>
                <select class="form-control" name="category" id="category">
                    <option value="both">Both Students and Staff</option>
                    <option value="students">Students Only</option>
                    <option value="staff">Staff Only</option>
                </select>
            </div>
        </div>
        <p class="text text-right">
            <button class="btn btn-info" type="submit">Submit</button>
        </p>
    </form>
</div>
{% endblock %}