*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
docs
.env*
logs
node_modules
**node_modules
**/node_modules
**/assets
web/media
web/static/CACHE
stats
Dockerfile
Dockerfile.prod
docker*
Docker*
nginx
README.md
db.sqlite3

assets
.vscode