{% extends 'school/dashboard_base.html' %}

{% block title %}Student Records{% endblock %}
{% block active_sidebar %}students{% endblock %}


{% block content %}
<h4>Edit Records</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a href="{% url 'students:records' %}">> Edit Records</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> Record Details</h6>
    </header>

    <form action="" class="needs-validation" method="GET" novalidate>
        {% if request.message %}
        <div class="col-md-7 mx-auto alert alert-info alert-dismissible fade show" role="alert">
            <strong>Info!</strong> {{request.message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% if request.error_message %}
        <div class="col-md-7 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{request.error_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% csrf_token %}

        <div class="form-group mx-4">
            <label for="staff_id">Select records by</label>
            <select class="form-control" name="staff_id" id="staff_id" required onchange="fetchSubjectsByStaff(this)">
                <option value="">Select staff.</option>
                {% for teacher in staff %}
                <option value="{{teacher.staff_id}}">{{teacher.get_full_name}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">Please select staff.</div>
        </div>

        <div class="form-group mx-4">
            <label for="subject_name">Subject</label>
            <select class="form-control" name="subject_name" id="subject_name" required>
                <option value="">Select staff first.</option>
            </select>
            <div class="invalid-feedback">Please select subject.</div>
        </div>

        <div class="form-group mx-4">
            <label for="form">Form</label>
            <select class="form-control" name="form" id="form" required>
                <option value="">Select form</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <div class="invalid-feedback">Please select form to generate sheet.</div>
        </div>

        <div class="form-group row mx-2">
            <div class="col-md-4">
                <label for="academic_year">Academic Year</label>
                <input class="form-control" value="{{request.school.current_academic_year}}" pattern="[0-9/]{4,}" type="text" name="academic_year" id="academic_year" required>
                <div class="invalid-feedback">Please enter a valid academic year e.g. 2020/2021</div>
            </div>

            <div class="col-md-4">
                <label for="semester">Semester</label>
                <input class="form-control" value="{{request.school.current_semester}}" type="text" name="semester" id="semester" pattern="[1-5]{1}" required>
                <div class="invalid-feedback">Enter a digit between 1 and 5 inclusive.</div>
            </div>
        </div>


        <p class="text text-right m-2">
            <button class="btn btn-info" type="submit">Submit</button>
        </p>

    </form>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/student_app.js' %}"></script>

<script>

    // Bootstrap form validation
    (function () {
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}