{% extends 'school/dashboard_base.html' %}

{% block title %}Student Records{% endblock %}
{% block active_sidebar %}students{% endblock %}


{% block content %}
<h4>Records</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a href="{% url 'students:records' %}">> Records</a>
    <a>> Edit Records</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> Edit Record</h6>
    </header>

    {% if request.message %}
    <div class="col-md-7 mx-auto alert alert-info alert-dismissible fade show" role="alert">
        <strong>Info!</strong> {{request.message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="col-md-12">
        <h1>Editable Academic Record Table Table</h1>
        <p>You can edit the <strong>Class Score</strong> and <strong>Exam Score</strong>. When when done, click on
            <strong>Update</strong> to effect the changes in the database.
        </p>

        <div>

            <div id="table" class="table-editable" style="width: 70vw; overflow-x: auto;">
                <table id="edit_record_table" class="table display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Subject</th>
                            <th>Academic Year</th>
                            <th>Semester</th>
                            <th>Class Score (100%)</th>
                            <th>Exam Score (100%)</th>
                            <th>Grade</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td contenteditable="false">
                                <p class="text text-muted"> {{record.id}} </p>
                            </td>
                            <td contenteditable="false">
                                <p class="text text-muted"> {{record.student.student_id}} </p>
                            </td>
                            <td contenteditable="false">
                                <p class="text text-muted"> {{record.student.get_full_name}} </p>
                            </td>
                            <td contenteditable="false">
                                <p class="text text-muted"> {{record.klass.name}} </p>
                            </td>
                            <td contenteditable="false">
                                <p class="text text-muted"> {{record.subject.name}} </p>
                            </td>
                            <td contenteditable="false">
                                <p class="text text-muted">{{record.academic_year}}</p>
                            </td>
                            <td contenteditable="false">
                                <p class="text text-muted">{{record.semester}}</p>
                            </td>
                            <td contenteditable="true">{{record.class_score}}</td>
                            <td contenteditable="true">{{record.exam_score}}</td>
                            <td contenteditable="false">
                                <p class="text text-muted"> {{record.grade}} </p>
                            </td>
                            <td contenteditable="false">
                                <p class="text text-muted"> {{record.remark}} </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

            <div class="my-4">
                <form id="update-record-form" action="" method="POST">
                    {% csrf_token %}
                    <textarea class="d-none" name="record_data" id="record_data"></textarea>
                    <button id="export-btn" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>

    </div>
    {% endblock %}

    {% block scripts %}
    {% load static %}
    <script src="{% static 'js/student_app.js' %}"></script>

    <script>
        var $TABLE = $('#table');
        var $BTN = $('#export-btn');
        var $EXPORT_DATA = $('#record_data');

        $('.table-add').click(function () {
            var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
            $TABLE.find('table').append($clone);
        });

        $('.table-remove').click(function () {
            $(this).parents('tr').detach();
        });

        $('.table-up').click(function () {
            var $row = $(this).parents('tr');
            if ($row.index() === 1) return; // Don't go above the header
            $row.prev().before($row.get(0));
        });

        $('.table-down').click(function () {
            var $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });

        // A few jQuery helpers for exporting only
        jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;

        $BTN.click(function () {
            var $rows = $TABLE.find('tr:not(:hidden)');
            var headers = [];
            var data = [];

            // Get the headers (add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () {
                headers.push($(this).text().toLowerCase());
            });

            // Turn all existing rows into a loopable array
            $rows.each(function () {
                var $td = $(this).find('td');
                var h = {};

                // Use the headers from earlier to name our hash keys
                headers.forEach(function (header, i) {
                    h[header] = $td.eq(i).text();
                });

                data.push(h);
            });

            if (!data[0].id.includes("No data available in table")) {
                // Enter the data into the textarea.            
                $EXPORT_DATA.text(JSON.stringify(data))
            }
        });

        $("#update-record-form").submit((e) => {
            if ($EXPORT_DATA.text() === "")
                e.preventDefault()
        })

    </script>
    {% endblock %}