{% extends 'school/dashboard_base.html' %}

{% block title %}Student{% endblock %}
{% block active_sidebar %}students{% endblock %}

{% load static %}


{% block content %}
<h4>Students</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>> New Student</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> Insert Students from Sheet</h6>
        <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'students:new_student' %}"><i class="bi bi-pencil"></i> Fill
                    online</a>
            </div>
        </div>
    </header>

    <form action="{% url 'students:new_student_sheet' %}" class="needs-validation {{was_validated}}" method="POST"
        enctype="multipart/form-data" novalidate>
        {% if error_message %}
        <div class="col-md-7 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{error_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% csrf_token %}

        <div class="row col-md-10 col-xs-12 col-sm-12">
            <div class="col-md-10 my-0 form-group">
                <p class="text text-warning"><i class="bi bi-info"></i> Repeated student IDs will automatically be
                    overwritten.</p>
            </div>
            <div class="col-md-10 form-group">
                <input type="file" class="form-control" name="file" accept=".xlsx" required>
                <div class="invalid-feedback">Excel file containing student data is required.</div>
            </div>

            <div class="col-md-2 form-group">
                <a href="{% static 'template_sheets/students.xlsx' %}" class="text text-white btn btn-primary"><i
                        class="bi bi-save"></i> Download template</a>
            </div>
        </div>

        <p class="text text-right">
            <button class="btn btn-info" type="submit">Submit</button>
        </p>
    </form>
</div>
{% endblock %}

<!-- Validation script -->
{% block scripts %}
<script src="{% static 'js/student_app.js' %}"></script>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}