{% extends 'school/dashboard_base.html' %}

{% block title %}Student{% endblock %}
{% block active_sidebar %}students{% endblock %}


{% block content %}
<h4>Students</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>> New Student</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> New Student</h6>
        <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'students:new_student_sheet' %}"><i
                        class="bi bi-file-earmark-spreadsheet"></i> Upload Sheet</a>
            </div>
        </div>
    </header>

    <form action="{% url 'students:new_student' %}" class="needs-validation" method="POST" novalidate>
        <input type="hidden" name="editing" value="{{editing}}">
        {% if error_message %}
        <div class="col-md-7 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{error_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{% if next_id  %}{{next_id}}{% else %}{{student_id}}{% endif %}" type="text"
                        id="student_id" {% if editing %} readonly {% endif %} class="form-control"
                        placeholder="Student ID" name="student_id" required>
                    <div class="invalid-feedback">Student ID is required.</div>
                    <small class="text text-info">Last student ID: {{last_id}}</small>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{surname}}" type="text" class="form-control" id="surname" placeholder="Surname"
                        name="surname" required>
                    <div class="invalid-feedback">Surname is required.</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{other_names}}" type="text" class="form-control" placeholder="Other Names"
                        name="other_names" required>
                    <div class="invalid-feedback">Other Names are required.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{sms_number}}" type="text" class="form-control" id="sms_number"
                        placeholder="SMS Number e.g 024*******" name="sms_number" pattern="0[235][0-9]{8}" required>
                    <div class="invalid-feedback">SMS Number must be a valid Ghanaian mobile number exactly 10 digits.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{gender}}" type="text" class="form-control" id="gender" placeholder="Gender"
                        name="gender" required>
                    <div class="invalid-feedback">Gender is required.</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{house}}" type="text" class="form-control" placeholder="House" name="house" required>
                    <div class="invalid-feedback">House required.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{track}}" type="text" class="form-control" id="track" placeholder="Track"
                        name="track" required>
                    <div class="invalid-feedback">Track is required.</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{father}}" type="text" class="form-control" id="father" placeholder="Father's Name"
                        name="father" required>
                    <div class="invalid-feedback">Father's Name required.</div>

                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{mother}}" type="text" class="form-control" placeholder="Mother's Name" name="mother"
                        required>
                    <div class="invalid-feedback">Mother's Name required.</div>
                </div>
            </div>
        </div>

        <hr>
        <div class="form-group mx-4">
            <label for="class">Class</label>
            <select class="form-control" name="klass" id="class" onchange='getSubjectsForClass(this)' required>
                <option value="">Choose class.</option>
                {% for item in classes %}
                <option value="{{item.class_id}}" {% if item.id is klass_id %} selected {% endif %}>{{item.name}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mx-4">
            <label for="electives">Choose electives:</label>
            <div id="elective_container">
                <select class="form-control" {% if not student_electives %} disabled {%endif %} multiple
                    name="electives" id="electives" required>
                    {% if student_electives %}
                    {% for subject in electives %}
                    <option value="{{subject.subject_id}}" {% if subject in student_electives %} selected {% endif %}>
                        {{subject.name}}</option>
                    {% endfor %}
                    {% else %}
                    <option value="">Please choose class first.</option>
                    {% endif %}
                </select>
                <p class="text text-info">Press down Ctrl to select multiple *</p>
            </div>
        </div>
        <p class="text text-right">
            <button class="btn btn-info" type="submit">Submit</button>
        </p>
    </form>
</div>
{% endblock %}

<!-- Validation script -->
{% block scripts %}
{% load static %}
<script src="{% static 'js/student_app.js' %}"></script>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}