{% extends 'school/dashboard_base.html' %}

{% block title %}Student Promotion{% endblock %}
{% block active_sidebar %}students{% endblock %}


{% block content %}
<h4>Promotions</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>> Promotions</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> Promotion</h6>
    </header>

    <form action="{% url 'students:promotion' %}" class="needs-validation" method="POST" novalidate>
        <input type="hidden" name="editing" value="{{editing}}">
        {% if request.message %}
        <div class="col-md-7 mx-auto alert alert-info alert-dismissible fade show" role="alert">
            <strong>Info!</strong> {{request.message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% csrf_token %}

        <div class="mx-4 form-group">
            <label for="all_classes">Promote all classes to next level.
                <p class="text text-warning">This operation would mark final years as completed.</p>
            </label>
            <input class="checkbox" type="checkbox" name="all_classes" id="all_classes" required checked>
            <div class="invalid-feedback">Check this button to proceed.</div>
        </div>

        <div class="form-group mx-4">
            <label for="promotion_year">Year of promotion
                <p class="text text-info">Students who were once promoted after this year would not be promoted.</p>
            </label>
            <input class="form-control" type="text" pattern="[0-9]{4}" name="promotion_year" id="promotion_year" value="{{promotion_year}}" required>
            <div class="invalid-feedback">Enter a year in four digits.</div>
        </div>
        <p class="text text-right">
            <button class="btn btn-info" type="submit">Submit</button>
        </p>

        <hr>
        <h5 class="text text-center">OR</h5>
        <div class="form-group mx-4">
            <label for="file">Upload sheet.</label>
            <input class="form-control" type="file" name="file" id="file">
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/student_app.js' %}"></script>

<script>
    
// Bootstrap form validation
(function () {
    window.addEventListener('load', function () {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>
{% endblock %}