{% extends 'school/dashboard_base.html' %}

{% block title %}Student Records{% endblock %}
{% block active_sidebar %}students{% endblock %}


{% block content %}
<h4>Records</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>> Records</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> Records</h6>
    </header>

    <div class="row">
        <div class="col-md-3 m-2">
            <a href="{% url 'students:generate_record_sheet' %}" class="btn btn-info text text-white">Generate Record Sheet</a>
        </div>

        <div class="col-md-3 m-2">
            <a href="{% url 'students:upload_record_sheet' %}" class="btn btn-info text text-white">Upload Records</a>
        </div>

        <div class="col-md-3 m-2">
            <a href="{% url 'students:edit_record' %}" class="btn btn-info text text-white">Edit Records</a>
        </div>

        <div class="col-md-3 m-2">
            <a href="{% url 'pdf_engine:semester_reports' %}" class="btn btn-info text text-white">Generate End of Semester Report</a>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/student_app.js' %}"></script>

<script>

    // Bootstrap form validation
    (function () {
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}