<form action="{% url 'accounts:create_update_user' %}" class="needs-validation my-4" method="POST" novalidate>
    {% csrf_token %}
    <input type="hidden" name="id" value="{{id}}">
    <div class="col-md-8 mx-auto">
        <div class="form-group my-3">
            <label for="name">Username</label>
            <input class="form-control" placeholder="Username" value="{{username}}" type="text" name="username"
                id="username" required>
            <div class="invalid-feedback">
                Please this field is required.
            </div>
        </div>

        <div class="form-group my-3">
            <label for="name">Surname</label>
            <input class="form-control" placeholder="Surname" value="{{surname}}" type="text" name="surname"
                id="surname" required>
            <div class="invalid-feedback">
                Please this field is required.
            </div>
        </div>

        <div class="form-group my-3">
            <label for="name">Other Names</label>
            <input class="form-control" placeholder="Other Names" value="{{other_names}}" type="text" name="other_names"
                id="other_names" required>
            <div class="invalid-feedback">
                Please this field is required.
            </div>
        </div>

        <div class="form-group my-3">
            <label for="name">Gender</label>
            <select name="gender" id="gender" class="form-select" required>
                <option value="">Choose gender</option>
                <option value="male" {% if gender == 'male' %}selected{% endif %}>Male</option>
                <option value="female" {% if gender == 'female' %}selected{% endif %}>Female</option>
            </select>
            <div class="invalid-feedback">
                Please this field is required.
            </div>
        </div>

        <div class="form-group my-3">
            <label for="other_names">Phone</label>
            <input class="form-control" placeholder="Phone" value="{{phone}}" type="text" name="phone" id="type"
                required>
            <div class="invalid-feedback">
                Please this field is required.
            </div>
        </div>

        <div class="form-group my-3">
            <label for="password">Password</label>
            <input class="form-control" placeholder="Password" type="password" name="password" id="password">
            <div class="invalid-feedback">
                Please this field is required.
            </div>
        </div>

        <div class="form-group my-3">
            <label for="password">Confirm Password</label>
            <input class="form-control" placeholder="Confirm Password" type="confirm_password" name="confirm_password"
                id="confirm_password">
            <div class="invalid-feedback">
                Please this field is required.
            </div>
        </div>

        <div class="form-group mt-5 mb-3">
            <label for="group_ids">Groups</label>
            <select class="form-control" name="group_ids" id="group_ids" multiple>
                {% for group in groups %}
                    <option value="{{group.id}}" {% if group in user.groups.all %}selected{% endif %}>{{group.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="mt-4 form-group">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>

</form>