<form action="{% url 'dashboard:create_update_programme' %}" class="needs-validation my-4" method="POST" novalidate>
    {% csrf_token %}
    <input type="hidden" name="programme_id" value="{{programme.id}}">
    <div class="form-group">
        <label for="name">Title</label>
        <input class="form-control" placeholder="Title" value="{{title}}" type="text" name="title" id="name" required>
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>
    <div class="mt-4 form-group">
        <label for="Projects">Available Projects</label>
        {% for project in all_projects %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{project}}" name="projects"
                id="flexCheckDefault{{project}}" {% if project in programme.list_projects %}checked{% endif %}>
            <label class="form-check-label" for="flexCheckDefault{{project}}">
                {{project}}
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="mt-4 form-group">
        <label for="startDate">Start Date</label>
        <input id="startDate" class="form-control" value="{{start_date}}" type="date" name="start_date" required />
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>
    <div class="mt-4 form-group">
        <label for="endDate">End Date</label>
        <input id="startDate" class="form-control" value="{{end_date}}" type="date" name="end_date" required />
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>
    <div class="form-group mt-5">
        <button type="submit" class="btn btn-primary btn-sm px-4">Submit</button>
    </div>
</form>