{% extends 'templates/dashboard/base_template.html' %}
{% block page_title %}Setup{% endblock %}
{% block active-sidebar-item-id %}setup{%endblock%}

{% block breadcrumb %}
<section class="breadcrumb">
    <a href="{% url 'dashboard:index' %}" class="">Home <i class="bi bi-chevron-right"></i></a>
    <a href="" class="active">Setup</a>
</section>
{% endblock %}

{% block content %}
<!-- Modals -->
{% include 'setup/blocks/modals.html' %}
<!-- End of Modals -->

<section class="system">
    <hr>
    <h4>SYSTEM</h4>
    <div class="row">
        <div class="col-md-6 p-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h6>ROLES</h6>
                    {% if perms.auth.add_group %}
                    <button class="d-flex btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#roleModal"><i
                            class="bi bi-plus"></i></button>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <p>Click on the name of a role to configure permissions.</p>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for role in roles %}
                            <tr>
                                <td><a href="{% url 'setup:roles_management' role.id %}">{{role.name}}</a> </td>
                                <td class="d-flex">
                                    <a href="{% url 'setup:roles_management' role.id %}"
                                        class="bnt bnt-sm btn-light d-flex">
                                        <span><i class="bi bi-shield-plus"></i></span><span
                                            class="ms-1">Permissions</span>
                                    </a>
                                    <a href="{% url 'setup:change_role' %}?role_id={{role.id}}"
                                        class="btn btn-light btn-sm d-flex mx-2">
                                        <span><i class="bi bi-pencil"></i></span><span class="ms-1">Edit</span>
                                    </a>

                                    {% if perms.auth.delete_group %}
                                    <form action="{% url 'dashboard:delete_model' 'group' role.id %}" method="POST"
                                        class="requires-confirmation"
                                        data-message="Click on okay to permanently delete '{{role.name}}'">
                                        {% csrf_token %}
                                        <input type="hidden" name="role_id" value="{{role.id}}">
                                        <button type="submit" class="btn btn-sm btn-light">
                                            <span class="d-flex">
                                                <span><i class="bi bi-trash"></i> </span>
                                                <span class="ms-1">Delete</span>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h6>TRACKS</h6>
                    {% if perms.setup.add_track %}
                    <button class="d-flex btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#trackModal"><i
                            class="bi bi-plus"></i></button>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <p>A track refers to a batch of students.</p>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for track in tracks %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{track.name}}</td>
                                <td class="d-flex">
                                    <a href="{% url 'setup:create_update_track' %}?track_id={{track.id}}"
                                        class="btn btn-light btn-sm d-flex mx-2">
                                        <span><i class="bi bi-pencil"></i></span><span class="ms-1">Edit</span>
                                    </a>

                                    {% if perms.auth.delete_group %}
                                    <form action="{% url 'dashboard:delete_model' track.model_name track.id %}"
                                        method="POST" class="requires-confirmation"
                                        data-message="Click on okay to permanently delete '{{track.name}}'.">
                                        {% csrf_token %}
                                        <input type="hidden" name="track_id" value="{{track.id}}">
                                        <button type="submit" class="btn btn-sm btn-light">
                                            <span class="d-flex">
                                                <span><i class="bi bi-trash"></i> </span>
                                                <span class="ms-1">Delete</span>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h4 class="mt-3">REPORTING</h4>
        <div class="col-md-6 p-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h6>ATTITUDE</h6>
                    {% if perms.setup.add_attitude %}
                    <button class="d-flex btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#attitudeModal"><i class="bi bi-plus"></i></button>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Text</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attitude in attitudes %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{attitude.text}}</td>
                                <td class="d-flex">
                                    <a href="{% url 'setup:create_update_attitude' %}?attitude_id={{attitude.id}}"
                                        class="btn btn-light btn-sm d-flex mx-2">
                                        <span><i class="bi bi-pencil"></i></span><span class="ms-1">Edit</span>
                                    </a>

                                    {% if perms.auth.delete_group %}
                                    <form action="{% url 'dashboard:delete_model' attitude.model_name attitude.id %}"
                                        method="POST" class="requires-confirmation"
                                        data-message="Click on okay to permanently delete '{{attitude.text}}'.">
                                        {% csrf_token %}
                                        <input type="hidden" name="attitude_id" value="{{attitude.id}}">
                                        <button type="submit" class="btn btn-sm btn-light">
                                            <span class="d-flex">
                                                <span><i class="bi bi-trash"></i> </span>
                                                <span class="ms-1">Delete</span>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h6>INTEREST</h6>
                    {% if perms.setup.add_interest %}
                    <button class="d-flex btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#interestModal"><i class="bi bi-plus"></i></button>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Text</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for interest in interests %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{interest.text}}</td>
                                <td class="d-flex">
                                    <a href="{% url 'setup:create_update_interest' %}?interest_id={{interest.id}}"
                                        class="btn btn-light btn-sm d-flex mx-2">
                                        <span><i class="bi bi-pencil"></i></span><span class="ms-1">Edit</span>
                                    </a>

                                    {% if perms.auth.delete_group %}
                                    <form action="{% url 'dashboard:delete_model' interest.model_name interest.id %}"
                                        method="POST" class="requires-confirmation"
                                        data-message="Click on okay to permanently delete '{{interest.text}}'.">
                                        {% csrf_token %}
                                        <input type="hidden" name="interest_id" value="{{interest.id}}">
                                        <button type="submit" class="btn btn-sm btn-light">
                                            <span class="d-flex">
                                                <span><i class="bi bi-trash"></i> </span>
                                                <span class="ms-1">Delete</span>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h6>CONDUCT</h6>
                    {% if perms.setup.add_conduct %}
                    <button class="d-flex btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#conductModal"><i class="bi bi-plus"></i></button>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <table class="table table-sm">
                        <tr>
                            <th>S/N</th>
                            <th>Text</th>
                            <th>Actions</th>
                        </tr>
                        <tbody>
                            {% for conduct in conducts %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{conduct.text}}</td>
                                <td class="d-flex">
                                    <a href="{% url 'setup:create_update_conduct' %}?conduct_id={{conduct.id}}"
                                        class="btn btn-light btn-sm d-flex mx-2">
                                        <span><i class="bi bi-pencil"></i></span><span class="ms-1">Edit</span>
                                    </a>

                                    {% if perms.auth.delete_group %}
                                    <form action="{% url 'dashboard:delete_model' conduct.model_name conduct.id %}"
                                        method="POST" class="requires-confirmation"
                                        data-message="Click on okay to permanently delete '{{conduct.text}}'.">
                                        {% csrf_token %}
                                        <input type="hidden" name="conduct_id" value="{{conduct.id}}">
                                        <button type="submit" class="btn btn-sm btn-light">
                                            <span class="d-flex">
                                                <span><i class="bi bi-trash"></i> </span>
                                                <span class="ms-1">Delete</span>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-6 p-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h6>GRADING SYSTEM</h6>
                    {% if perms.setup.add_gradingsystem %}
                    <button class="d-flex btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#gradingSystemModal"><i class="bi bi-plus"></i></button>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Min Score</th>
                                <th>Grade</th>
                                <th>Remark</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for grading_system in grading_systems %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{grading_system.min_score}}</td>
                                <td>{{grading_system.grade}}</td>
                                <td>{{grading_system.remark}}</td>
                                <td class="d-flex">
                                    <a href="{% url 'setup:create_update_grading_system' %}?grading_system_id={{grading_system.id}}"
                                        class="btn btn-light btn-sm d-flex mx-2">
                                        <span><i class="bi bi-pencil"></i></span><span class="ms-1">Edit</span>
                                    </a>

                                    {% if perms.setup.delete_gradingsystem %}
                                    <form
                                        action="{% url 'dashboard:delete_model' grading_system.model_name grading_system.id %}"
                                        method="POST" class="requires-confirmation"
                                        data-message="Click on okay to permanently delete '{{grading_system}}'.">
                                        {% csrf_token %}
                                        <input type="hidden" name="grading_system_id" value="{{grading_system.id}}">
                                        <button type="submit" class="btn btn-sm btn-light">
                                            <span class="d-flex">
                                                <span><i class="bi bi-trash"></i> </span>
                                                <span class="ms-1">Delete</span>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h6>SCHOOL SESSIONS</h6>
                    {% if perms.auth.add_attitude %}
                    <button class="d-flex btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#schoolSessionModal"><i class="bi bi-plus"></i></button>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Semester</th>
                                <th>Academic Year</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for school_session in school_sessions %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{school_session.name}}</td>
                                <td>{{school_session.semester}}</td>
                                <td>{{school_session.academic_year}}</td>
                                <td class="d-flex">
                                    <a href="{% url 'setup:create_update_school_session' %}?school_session_id={{school_session.id}}"
                                        class="btn btn-light btn-sm d-flex mx-2">
                                        <span><i class="bi bi-pencil"></i></span><span class="ms-1">Edit</span>
                                    </a>

                                    {% if perms.setup.delete_schoolsession %}
                                    <form
                                        action="{% url 'dashboard:delete_model' school_session.model_name school_session.id %}"
                                        method="POST" class="requires-confirmation"
                                        data-message="Click on okay to permanently delete '{{school_session.name}}'.">
                                        {% csrf_token %}
                                        <input type="hidden" name="school_session_id" value="{{school_session.id}}">
                                        <button type="submit" class="btn btn-sm btn-light">
                                            <span class="d-flex">
                                                <span><i class="bi bi-trash"></i> </span>
                                                <span class="ms-1">Delete</span>
                                            </span>
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h4 class="mt-3">THE SCHOOL</h4>



    </div>
</section>
{% endblock %}