{% extends 'templates/dashboard/base_template.html' %}
{% block page_title %}Departments{% endblock %}
{% block active-sidebar-item-id %}departments{%endblock%}

{% block breadcrumb %}
<section class="breadcrumb">
    <a href="{% url 'dashboard:index' %}" class="">Home <i class="bi bi-chevron-right"></i></a>
    <a href="" class="active">Departments</a>
</section>
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="departmentModal" tabindex="-1" aria-labelledby="departmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="departmentModalLabel">Add Department</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% include 'dashboard/departments/form_department.html' %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->

<h4 class="page-header"><i class='icon bx bx-group'></i> DEPARTMENT</h4>
<section class="card">
    <div class="card-header d-flex justify-content-between">
        <h4>Departments</h4>
        <div class="">
            {% if perms.dashboard.add_department %}
            <button class="d-flex btn btn-sm btn-primary my-1" data-bs-toggle="modal"
                data-bs-target="#departmentModal"><i class="bi bi-plus"></i> Add
            </button>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="col-md-10 mx-auto" style="overflow-x: auto;">
            <table class="table data-table">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>S/N</th>
                        <th>NAME</th>
                        <th>Head of Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{department.name}}</td>
                        <td>{{department.hod.user.get_name}}</td>
                        <td class="d-flex">
                            {% if perms.dashboard.change_department %}
                            <a href="{% url 'dashboard:create_update_department' %}?department_id={{department.id}}"
                                class="me-3 d-flex text-primary">
                                <i class="bi bi-pencil me-1"></i>
                                Edit
                            </a>
                            {% endif %}
                            {% if perms.dashboard.delete_department %}
                            <form action="{% url 'dashboard:delete_model' department.model_name department.id %}"
                                method="POST" class="requires-confirmation"
                                data-message="Click on okay to permanently delete {{department.name}}">
                                {% csrf_token %}
                                <input type="hidden" name="department_id" value="{{department.id}}">
                                <button type="submit" class="btn btn-sm btn-outline-danger"><span class="d-flex">
                                        <i class="bi bi-trash"></i> Delete</span>
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}