{% extends 'templates/accounts/base_template.html' %}
{% block pagetitle %}Login{% endblock %}
{% load static %}

{% block content %}
<div class="col-md-3 col-10 mx-auto p-5 bg-white d-flex align-items-center" style="height: 100vh;">
    <form class="needs-validation" method="POST" novalidate>
        {% csrf_token %}
        <img class="mx-auto d-block" src="{% static 'images/logo.png' %}" alt="Site Logo" height="40">
        <h1 class="text text-center h3 mb-3 font-weight-normal">Please sign in</h1>

        <!-- message -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="form-group">
            <input type="text" id="username" name="username" value="{{username}}" class="form-control py-2"
                placeholder="Username" required>
            <div class="invalid-feedback">
                Please enter a valid username.
            </div>
        </div>
        <div class="form-group">
            <input type="text" id="fullname" name="fullname" value="{{fullname}}" class="form-control py-2"
                placeholder="Full Name" required>
            <div class="invalid-feedback">
                Please your full name.
            </div>
        </div>

        <div class="form-group">
            <input type="text" id="phone_number" name="phone_number" value="{{phone_number}}" class="form-control py-2"
                placeholder="Phone Number" required>
            <div class="invalid-feedback">
                Please your phone number.
            </div>
        </div>

        <div class="form-group">
            <input type="email" id="email_address" name="email_address" value="{{email_address}}"
                class="form-control py-2" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password1" value="{{password1}}" class="form-control py-2"
                placeholder="Password" required>
            <div class="invalid-feedback">
                Please password is required
            </div>
        </div>

        <div class="form-group">
            <input type="password" id="password" name="password2" value="{{password2}}" class="form-control py-2"
                placeholder="Password" required>
            <div class="invalid-feedback">
                Please confirm the password
            </div>
        </div>

        <div class="form-group my-3">
            <button class="btn btn-primary" type="submit" style="width: 100%;">Register</button>
        </div>
        <p class="text text-center">Already have an account? <a href="{% url 'accounts:login' %}"
                class="text text-primary">Login</a> here.
        </p>
        <div class="form-group mt-5">
            <p>Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> All Rights Reserved
            </p>
        </div>
    </form>
</div>
{% endblock %}