{% extends 'templates/dashboard/base_template.html' %}
{% block page_title %}Subject Mapping{% endblock %}
{% block active-sidebar-item-id %}action_center{%endblock%}

{% block breadcrumb %}
<section class="breadcrumb">
    <a href="{% url 'dashboard:index' %}" class="">Home <i class="bi bi-chevron-right"></i></a>
    <a href="{% url 'dashboard:action_center' %}" class="">Action Center <i class="bi bi-chevron-right"></i></a>
    <a href="" class="active">Subject Mapping</a>
</section>
{% endblock %}

{% block content %}

<h4 class="page-header"><i class='icon bx bx-group'></i> SUBJECT MAPPING</h4>
<section class="card">
    <div class="card-header d-flex justify-content-between">
        <h4>Mapping</h4>
        <div>
            <select class="form-select" name="session" id="session" onchange="toggleSession(this)">
                <option value="">Select Session</option>
                {% for session in sessions %}
                <option value="{{session.id}}" {% if session.id == mappings.first.session.id %} selected {% endif %} >{{session.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="card-body">
        <form class="needs-validation" method="POST" novalidate>
            <div class="col-md-10 mx-auto overflow-auto" method="POST" style="max-height: 60vh;">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mapping in mappings %}
                        <tr>
                            <td>{{mapping.subject.name}}</td>
                            <td>{{mapping.klass.name}}</td>
                            <td>
                                <select class="form-select" {% if not mapping.session.active %} disabled {% endif %}
                                    name="mappings" required>
                                <option value="">Select Teacher</option>
                                {% for teacher in teachers %}
                                <option value="{{mapping.klass.id}}|{{mapping.subject.id}}|{{mapping.session.id}}|{{teacher.id}}" {% if teacher.id == mapping.staff.id %}selected{% endif %}>{{teacher.user.get_name}}</option>
                                {% endfor %}
                            </select>
                                <div class="invalid-feedback">
                                    Please select a teacher.
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="form-group d-flex justify-content-end">
                <button type="submit" {% if not mappings.first.session.active %} disabled {% endif %}
                    class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}
