{% extends 'school/dashboard_base.html' %}

{% block title %}Clases{% endblock %}
{% block active_sidebar %}classes{% endblock %}


{% block content %}
<h4>Clases</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>> Details</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> Details </h6>
        <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'students:edit_class' class.class_id %}">
                    <i class="bi bi-pencil"></i> Edit
                </a>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-3 pr-3">
            <label for="class_teacher">{{class.class_teacher.get_full_name}}</label>
            <img src="{{class.class_teacher.image.url}}" id="class_teacher" class="img-fluid" alt="Image of {{class.class_teacher.get_full_name}}">
        </div>
        <div class="col-md-9">
            <h4 class="text ml-3 mb-4">{{class.name}}</h4>
            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Class ID:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text">{{class.class_id}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Name:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text">{{class.name}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Form:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text">{{class.form}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Stream:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text">{{class.stream}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Course:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text">{{class.course.name}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Class Teacher:</h6>
                </div>
                <div class="col-md-8">
                    <a href="{% url 'staff:staff_detail' class.class_teacher.staff_id %}">
                    <h6 class="text">{{class.class_teacher.get_full_name}}</h6>
                </a>
                </div>
            </div>

            <hr>
            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Number of students:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text">{{class.get_student_count}}</h6>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

<!-- Validation script -->
{% block scripts %}
{% load static %}
<script src="{% static 'js/student_app.js' %}"></script>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}