{% extends 'school/dashboard_base.html' %}

{% block title %}Grading System{% endblock %}
{% block active_sidebar %}grading-systems{% endblock %}


{% block content %}
<h4>Grading Systems</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>> All Grading Systems</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <div class="d-flex justify-content-between">
        <h5 class="ml-4">All Grading Systems Data </h5>
        <p class="text text-right">
            <a href="{% url 'students:new_grading_system' %}" class="btn btn-primary text text-white">New</a>
        </p>
    </div>

    {% if request.error_message %}
    <div class="col-md-7 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> {{request.error_message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if request.message %}
    <div class="col-md-7 mx-auto alert alert-info alert-dismissible fade show" role="alert">
        <strong>Info!</strong> {{request.message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div style="width: 70vw; overflow-x: auto; margin: auto;">
        <table id="grading_system_table" class="table display table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>ID</th>
                    <th>Minimum Score</th>
                    <th>Grade</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Deletions Modal -->
<div class="modal fade" id="delete-grading-system-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm bg-danger">
        <div class="modal-content bg-danger p-2">
            <form action="{% url 'students:delete_grading_system' %}" method="post">
                {% csrf_token %}
                <h4 class="text text-white text-center"><i class="bi bi-trash"></i> Delete?</h4>
                <input name="grading_system_id" id="input_grading_system_id" type="hidden" required>
                <div class="form-group mt-3">
                    <p class="text text-center">
                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Yes, Delete.</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}