{% extends 'templates/dashboard/base_template.html' %}
{% block page_title %}My Invoices{% endblock %}
{% block active-sidebar-item-id %}personal_invoice{%endblock%}

{% block breadcrumb %}
<section class="breadcrumb">
    <a href="{% url 'dashboard:index' %}" class="">Home <i class="bi bi-chevron-right"></i></a>
    <a href="" class="active">My Invoices</a>
</section>
{% endblock %}

{% block content %}
<h4 class="page-header"><i class='icon bx bx-group'></i> Invoices</h4>
<section class="card">
    <div class="card-body">
        <form class="d-flex align-items-center my-3">
            <input type="search" class="form-control" value="{{query}}" name="query" placeholder="Search name">
            <span class="mx-1">From</span>
            <input type="date" class="form-control" name="from_date" value="{{from_date}}">
            <span class="mx-1">To</span>
            <input type="date" class="form-control" name="to_date" value="{{to_date}}">
            <button class="btn btn-sm btn-primary mx-2">Load</button>
        </form>
        <div class="col-12 mx-auto" style="overflow-x: auto;">
            <table class="table data-table">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Note</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td> <a href="{% url 'dashboard:my_invoice_detail' invoice.id %}">{{invoice.name}}</a> </td>
                        <td>{{invoice.total_amount}}</td>
                        <td>{{invoice.note}}</td> <td class="d-flex">
                            <a href="{% url 'dashboard:my_invoice_detail' invoice.id %}" class="me-3 d-flex btn btn-sm btn-outline-primary">
                                <i class="bi bi-list me-1"></i>
                                Details
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}