$primary: rgb(32, 60, 108);
$primary-light: rgba(32, 60, 108, 0.8);

$background: rgba($primary, 0.05);
$background-light: rgb(255, 255, 255);

$success: rgb(66, 188, 93);
$danger: rgb(216, 31, 31);
$black: #000;

$primary-light: rgba(32, 60, 108, 0.8);
$secondary: #b79a64;
$secondary-deep: #ffbf0d;

$black: #000;
$white: #fff;

$sidebar-size: 17em;
$nav-height: 4em;
