<!-- Modal -->
<div class="modal fade" id="generalDeletionModal" tabindex="-1" aria-labelledby="generalDeletionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="generalDeletionModalLabel"> <i class="bi bi-trash"></i> Delete?
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="message">Are you sure you want to delete this?</p>
                <p class="text-center" id="confirm-button"><button class="btn btn-danger btn-sm px-3">YES</button></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->