{% extends 'templates/dashboard/base_template.html' %}
{% block page_title %}Notification{% endblock %}
{% block active-sidebar-item-id %}notifications{%endblock%}

{% block breadcrumb %}
<section class="breadcrumb">
    <a href="{% url 'dashboard:index' %}" class="">Home <i class="bi bi-chevron-right"></i></a>
    <a href="" class="active">Notification</a>
</section>
{% endblock %}

{% block content %}

<h4 class="page-header"><i class='icon bx bx-group'></i> NOTIFICATION</h4>
<section class="card">
    <div class="card-header d-flex justify-content-between">
        <h4>Actions</h4>
    </div>
    <div class="card-body">
        <div class="col-md-10 mx-auto" style="overflow-x: auto;">
            <div class="d-flex justify-content-center flex-wrap">
                {% if perms.setup.compose_sms %}
                <div class="col-md-3 col-10 d-flex m-2 border flex-column">
                    <h2 class="text-center p-1"><i class="bi bi-pen"></i></h2>
                    <a href="{% url 'dashboard:compose_sms' %}" class="btn btn p-4 text-center btn-light">
                        <h5 class="text-primary">Compose SMS</h5>
                    </a>
                </div>
                {% endif %}
                {% if perms.setup.send_pin_notification %}
                <div class="col-md-3 col-10 d-flex m-2 border flex-column">
                    <h2 class="text-center p-1"><i class="bi bi-bell"></i></h2>
                    <a href="{% url 'dashboard:send_pin_sms' %}" class="btn btn p-4 text-center btn-light">
                        <h5 class="text-primary">PIN Notification</h5>
                    </a>
                </div>
                {% endif %}

                {% if perms.setup.send_report_notification %}
                <div class="col-md-3 col-10 d-flex m-2 border flex-column">
                    <h2 class="text-center p-1"><i class="bi bi-bar-chart"></i></h2>
                    <a href="{% url 'dashboard:report_notifications' %}" class="btn btn p-4 text-center btn-light">
                        <h5 class="text-primary">Report Notification</h5>
                    </a>
                </div>
                {% endif %}

                {% if perms.setup.view_notification_history %}
                <div class="col-md-3 col-10 d-flex m-2 border flex-column">
                    <h2 class="text-center p-1"><i class="bi bi-clock-history"></i></h2>
                    <a href="{% url 'dashboard:notification_history' %}" class="btn btn p-4 text-center btn-light">
                        <h5 class="text-primary">Notification History</h5>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}