<form action="{% url 'dashboard:create_update_course' %}" class="needs-validation my-4" method="POST" novalidate>
    {% csrf_token %}
    <input type="hidden" name="course_id" value="{{course.id}}">
    <div class="form-group">
        <label for="name">Code</label>
        <input class="form-control" placeholder="E.g., BUS" value="{{code}}" type="text" name="code" id="code" required>
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>
    <div class="form-group mt-4">
        <label for="name">Name</label>
        <input class="form-control" placeholder="Name e.g, Business" value="{{name}}" type="text" name="name" id="name"
            required>
        <div class="invalid-feedback">
            Please this field is required.
        </div>
    </div>

    <div class="mt-4 form-group">
        <p>All Subjects</p>
        {% for subject in subjects|dictsort:"name" %}
        <div class="form-check">
            <label for="filed_subject_{{subject.id}}">{{subject.name}} ({{subject.code}})</label>
            <input class="form-check-input" type="checkbox" value="{{subject.id}}" name="subjects"
                id="filed_subject_{{subject.id}}"
                {% if subject in course.subjects.all or subject.id in subjects %}checked{% endif %}>
        </div>
        {% endfor %}

        <a href="{% url 'dashboard:subjects' %}" target="_blank" class="mt-2 text-end d-block text-primary"><i
                class="bi bi-plus"></i> New subject</a>
    </div>
    
    <div class="mt-4 form-group">
        <p>Departments</p>
        {% for department in departments|dictsort:"name" %}
        <div class="form-check">
            <label for="filed_department_{{department.id}}">{{department.name}}</label>
            <input class="form-check-input" type="checkbox" value="{{department.id}}" name="departments"
                id="filed_department_{{department.id}}"
                {% if department in course.departments.all or department.id in departments %}checked{% endif %}>
        </div>
        {% endfor %}
        <a href="{% url 'dashboard:departments' %}" target="_blank" class="mt-2 text-end d-block text-primary"><i
                class="bi bi-plus"></i> New department</a>
    </div>


    <div class="mt-4 form-group">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>

</form>