{% extends 'templates/dashboard/base_template.html' %}
{% block page_title %}Inventory{% endblock %}
{% block active-sidebar-item-id %}inventory{%endblock%}

{% block breadcrumb %}
<section class="breadcrumb">
    <a href="{% url 'dashboard:index' %}" class="">Home <i class="bi bi-chevron-right"></i></a>
    <a href="{% url 'dashboard:inventories' %}">Inventory <i class="bi bi-chevron-right"></i></a>
    <a class="active">{{inventory.user.get_name|title}}</a>
</section>
{% endblock %}

{% block content %}

<div class="row col-md-11 mx-auto">
    <section class="col-md-10 mx-auto">
        <div class="card">
            <d class="card-header">
                <div class="d-flex justify-content-between">
                    <h6>INVENTORY</h6>
                </div>
            </d>
            <div class="card-body">
                {% include 'dashboard/inventory/form_inventory.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}