{% extends 'school/dashboard_base.html' %}

{% block title %}Course{% endblock %}
{% block active_sidebar %}courses{% endblock %}


{% block content %}
<h4>Courses</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>> New Course</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> New Course</h6>
        <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'students:new_course_sheet' %}"><i
                        class="bi bi-file-earmark-spreadsheet"></i> Upload Sheet</a>
            </div>
        </div>
    </header>

    <form action="{% url 'students:new_course' %}" class="needs-validation" method="POST" novalidate>
        <input type="hidden" name="editing" value="{{editing}}">
        {% if error_message %}
        <div class="col-md-7 mx-auto alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{error_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{course_id}}" type="text" id="course_id" {% if editing %} readonly {% endif %}
                        class="form-control" placeholder="Course ID" name="course_id" pattern="[A-Za-z0-9]{1,}"
                        required>
                    <div class="invalid-feedback">Course ID is required. It must be alphanumeric.</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="form-group">
                    <input value="{{name}}" pattern="([A-Za-z0-9]{1,}\s?){1,}" type="text" class="form-control"
                        id="name" placeholder="Name of Course" name="name" required>
                    <div class="invalid-feedback">Name is required. It must be alphanumeric.</div>
                </div>
            </div>
        </div>

        <hr>
        <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="form-group">
                <label for="electives">Electives</label>
                <select class="form-control" multiple name="electives" id="electives" required>
                    {% for subject in electives %}
                    <option value="{{subject.subject_id}}" {% if subject in course_electives %} selected {% endif %}>
                        {{subject.name}}</option>
                    {% endfor %}
                </select>
                <p class="text text-info">Press down Ctrl to select multiple *</p>
            </div>
        </div>

        <p class="text text-right">
            <button class="btn btn-info" type="submit">Submit</button>
        </p>
    </form>
</div>
{% endblock %}

<!-- Validation script -->
{% block scripts %}
{% load static %}
<script src="{% static 'js/student_app.js' %}"></script>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}