{% extends 'school/dashboard_base.html' %}

{% block title %}Teacher{% endblock %}
{% block active_sidebar %}teachers{% endblock %}


{% block content %}
<h4>Teachers</h4>
<div class="link-nav">
    <a href="/">Home &ThinSpace;</a>
    <a>> Details</a>
</div>
<br>

<div class="bg-white col-md-12 rounded p-1">
    <header class="p-2 d-flex justify-content-between">
        <h6><i class="bi bi-list-stars"></i> Details </h6>
        <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'staff:edit_staff' staff.staff_id %}"><i class="bi bi-pencil"></i>
                    Edit</a>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-3 pr-3">
            <img src="{{staff.image.url}}" class="img-fluid" alt="Image of {{staff.get_full_name}}">
        </div>
        <div class="col-md-9">
            <h4 class="text ml-3 mb-4">{{staff.get_full_name}}</h4>
            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Staff ID:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text text-muted">{{staff.staff_id}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Surname:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text text-muted">{{staff.surname}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Other Names:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text text-muted">{{staff.other_names}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">SMS Number:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text text-muted">{{staff.sms_number}}</h6>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Gender:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text text-muted">{{staff.gender}}</h6>
                </div>
            </div>

            <hr>
            <div class="row my-1">
                <div class="col-md-3 mr-1">
                    <h6 class="text text-muted">Number of Students:</h6>
                </div>
                <div class="col-md-8">
                    <h6 class="text text-muted">{{staff.get_number_of_students}}</h6>
                </div>
            </div>

            {% if staff.teaches.all %}
            <div class="">
                <h6>Classes</h6>
                {% for item in staff.teaches.all %}
                <h6 class="text text-muted">{{item.klass.name}} - {{item.subject.name}}</h6>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}

<!-- Validation script -->
{% block scripts %}
{% load static %}
<script src="{% static 'js/staff_app.js' %}"></script>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}