{% extends 'templates/dashboard/base_template.html' %}
{% block page_title %}Invoice{% endblock %}
{% block active-sidebar-item-id %}accounting{%endblock%}

{% block breadcrumb %}
<section class="breadcrumb">
    <a href="{% url 'dashboard:index' %}" class="">Home <i class="bi bi-chevron-right"></i></a>
    <a href="{% url 'dashboard:accounting' %}">Invoice <i class="bi bi-chevron-right"></i></a>
    <a class="active">{{invoice.name|title}}</a>
</section>
{% endblock %}

{% block content %}

<!-- Modals -->
<div class="modal fade" id="invoiceItemModal" tabindex="-1" aria-labelledby="invoiceItemModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="invoiceItemModal">Add Invoice Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% include 'dashboard/accounting/form_invoice_item.html' %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="studentListModal" tabindex="-1" aria-labelledby="studentListModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="studentListModal">Students</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <table class="table data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in invoice.students.all %}
                    <tr>
                        <td>{{student.user.get_name}}</td>
                        <td>{{student.user.account.balance}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="applyModal">Bill students</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="p-3">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Attention!</strong> This changing this will remove all students previously associated with this bill.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  
                <form action="" method="post" class="form col-12">
                    {% csrf_token %}
                    <h5>Apply to</h5>
                    <p><strong>Current Students in Class</strong></p>
                    <div class="form-group my-2">
                        {% for class in classes %}
                        <div class="form-check">
                            <label for="filed_{{class.id}}">{{class.name}}</label>
                            <input class="form-check-input" type="checkbox" value="{{class.id}}" name="classes"
                                id="filed_{{class.id}}">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group my-3">
                        <p class="m-0 p-0"><strong>Excluding</strong> </p>
                        <small class="text-muted">Comma separated list of student IDs to exclude.</small>
                        <textarea class="form-control" name="excluded_students" id="excluded_students" cols="30" rows="2"></textarea>
                    </div>
                    
                    <div class="my-2">
                        <p class="m-0 p-0"><strong>Including</strong> <small class="text-muted">(Regardless of selected class) </small></p>
                        <textarea class="form-control" name="included_students" id="included_students" cols="30" rows="2"></textarea>
                    </div>
                    <div class="mt-4 form-group d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-sm">Apply</button>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modals -->

<h4 class="page-header"><i class='icon bx bx-group'></i> {{invoice.name}}</h4>
<div class="card p-3 my-3">
   <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <h3>Details</h3><span class="badge bg-primary mx-3">{{invoice.status}}</span>
        </div>
        <div class="d-flex">
            {% if perms.setup.apply_invoice %}
            <button class="d-flex btn btn-sm btn-primary my-1" data-bs-toggle="modal" data-bs-target="#applyModal">
                <i class="bi bi-wallet me-2"></i> Apply to students
            </button>
            {% endif %}
            
            {% if invoice.status == 'applied' %}
            <a href="{% url 'pdf:student_bill_sheet' invoice.id %}" target="_blank" class="mx-2 d-flex btn btn-sm btn-outline-primary my-1">
                <i class="bi bi-printer me-2"></i> Generate Bill Sheet
            </a>
            {% endif %}
        </div>
   </div>
</div>

<div class="row mx-1">
    <div class="card col-md-6">
        <div class="p-3">
            <h5>Stats</h5>
            <p class="d-flex my-3 justify-content-between">
                <span>Total Number Affected Students: <span class="badge bg-primary">{{invoice.student_count}}</span> </span>
                <button class="d-flex btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#studentListModal">
                    <i class="bi bi-list me-2"></i> View list
                </button>
            </p>
            <p>Total Amount: GHC {{invoice.total_amount}}</p>
        </div>
    </div>
    
    <div class="card col-md-6">
        <div class="p-3">
            <h5>Update Details</h5>
            {% include 'dashboard/accounting/form_invoice.html' %}
        </div>
    </div>
</div>

<section class="card my-3">
    <div class="card-header d-flex justify-content-end">
        <div class="d-flex">
            {% if perms.setup.add_invoiceitem %}
            <button class="d-flex btn btn-sm btn-outline-primary my-1" data-bs-toggle="modal" data-bs-target="#invoiceItemModal">
                <i class="bi bi-plus"></i> Add Item
            </button>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="col-12 mx-auto" style="overflow-x: auto;">
            <table class="table data-table">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in invoice_items %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.type|title}}</td>
                        <td>{{item.amount }}</td>
                        <td class="d-flex">
                            {% if perms.setup.delete_invoiceitem %}
                            <a href="{% url 'dashboard:create_update_invoice_item' invoice.id %}?invoice_item_id={{item.id}}"
                                class="me-3 d-flex btn btn-sm btn-light">
                                <i class="bi bi-pencil me-1"></i>
                                Edit
                            </a>
                            {% endif %}
                            {% if perms.setup.delete_invoiceitem %}
                            <form action="{% url 'dashboard:delete_model' item.model_name item.id %}"
                                method="POST" class="requires-confirmation"
                                data-message="Click on okay to permanently delete '{{item.name}}'.">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{student.id}}">
                                <button type="submit" class="btn btn-sm btn-light"><span class="d-flex">
                                        <i class="bi bi-trash"></i> Delete</span>
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
