{% extends 'school/dashboard_base.html' %}

{% block title %}Dashboard{% endblock %}
{% block active_sidebar %}dashboard{% endblock %}


{% block content %}
<!-- Admin Dashboard -->
<h4>Admin Dashboard</h4>
<div class="link-nav">
    <a href="">Home &ThinSpace;</a>
    <a>> Admin</a>
</div>
<br>

<!-- Quick Statistics -->
<div class="stat-container">
    <div class="bg-white d-flex justify-content-between p-4">
        <div class="">
            <div class="stat-icon bg-success-light">
                <i class="text text-success bi bi-diagram-2"></i>
            </div>
        </div>
        <div>
            <p class="text text-muted text-right">Students</p>
            <p class="text text-right"><strong>13,428</strong></p>
        </div>
    </div>

    <div class="bg-white d-flex justify-content-between p-4">
        <div class="">
            <div class="stat-icon bg-primary-light">
                <i class="text text-primary bi bi-people"></i>
            </div>
        </div>
        <div>
            <p class="text text-muted text-right">Teachers</p>
            <p class="text text-right"><strong>142</strong></p>
        </div>
    </div>

    <div class="bg-white d-flex justify-content-between p-4">
        <div class="">
            <div class="stat-icon bg-warning-light">
                <i class="text text-warning bi bi-house"></i>
            </div>
        </div>
        <div>
            <p class="text text-muted text-right">Classes</p>
            <p class="text text-right"><strong>58</strong></p>
        </div>
    </div>

    <div class="bg-white d-flex justify-content-between p-4">
        <div class="">
            <div class="stat-icon bg-danger-light">
                <i class="text text-danger bi bi-building"></i>
            </div>
        </div>
        <div>
            <p class="text text-muted text-right">House Masters</p>
            <p class="text text-right"><strong>13</strong></p>
        </div>
    </div>
</div>

<section class="d-flex flex-wrap my-5 justify-content-between">
    <!-- My School -->
    <div class="bg-white notification-item col-xs-11 col-sm-11 col-md-4 p-2 rounded m-1">
        <header class="p-2 d-flex justify-content-between">
            <h5><i class="bi bi-calendar"></i> My School</h5>

            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href=""><i class="bi bi-pencil"></i> Edit</a>
                </div>
            </div>
        </header>

        <article class="container">
            <h6 class="text text-muted my-0">Current Academic Year</h6>
            <h6 class="text text-info ml-3 my-0"><strong>2020/2021</strong></h6>

            <h6 class="text text-muted my-0  mt-3">Current Semester</h6>
            <h6 class="text text-info ml-3 my-0"><strong>Semester 1</strong></h6>

            <h6 class="text text-muted my-0  mt-3">SMS Sender ID</h6>
            <h6 class="text text-info ml-3 my-0"><strong>Ketasco</strong></h6>
        </article>
    </div>

    <!-- Student & Teacher Ratio -->
    <div class="bg-white notification-item col-xs-11 col-sm-11 col-md-3 p-2 rounded m-1">
        <header class="p-2 d-flex justify-content-between">
            <h6><i class="bi bi-bar-chart-line"></i> Student & Teacher</h6>

            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href=""><i class="bi bi-arrow-repeat"></i> Refresh</a>
                </div>
            </div>
        </header>
        <canvas id="myChart" width="300" height="300"></canvas>
    </div>

    <!-- Notificatons -->
    <div class="bg-white notification-item col-xs-11 col-sm-11 col-md-4 p-2 rounded m-1">
        <header class="p-2 d-flex justify-content-between">
            <h5><i class="bi bi-bell"></i> Notificatons</h5>

            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href=""><i class="bi bi-eye"></i> Mark all as
                        read.</a>
                </div>
            </div>
        </header>

        <!-- Items -->
        <article>
            <span class="badge badge-primary border rounded">16 February 2021.</span>
            <div class="container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, amet.
                <p class="text text-muted">Admin / 5 min ago</p>
            </div>
            <hr>
        </article>

        <!-- Items -->
        <article>
            <span class="badge badge-primary border rounded">16 February 2021.</span>
            <div class="container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, amet.
                <p class="text text-muted">Admin / 5 min ago</p>
            </div>
            <hr>
        </article>

        <!-- Items -->
        <article>
            <span class="badge badge-primary border rounded">16 February 2021.</span>
            <div class="container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, amet.
                <p class="text text-muted">Admin / 5 min ago</p>
            </div>
            <hr>
        </article>

    </div>
</section>
{% endblock %}